
.banner {
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.banner-content {
  color: white;
  font-size: 25px;
}

.banner-content p{
  margin-bottom: 50px;
  opacity: 0.8;
  font-weight: lighter;
}
