/* Your tabs CSS code here */
.tabs {
  display: flex;
  background-color: transparent;
  /*padding: 10px 10px 0px 10px;*/
}

.tab {
  flex: 1 1 auto;
  background-color: #546A7B;
  color: #C6C5B9;
  padding: 15px 0;
}

.tab.active {
  background-color: #F3F5E8;
  color: #546A7B;
}

.tab.active p{
  opacity: 0.3;
}
.tab p{
  margin-bottom: 0;
}

.tab h3{
  margin-top: 0;
}

.tab:hover{
  opacity: 0.8;
}

.tab:first-child {
  border-radius: 10px 0 0 0; /* clockwise starting top-left*/
}
.tab:last-child {
  border-radius: 0 10px 0 0; /* clockwise starting top-left*/
}
